@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);@import url(https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Oswald|PT+Sans+Narrow);form {
  width: calc(100% - 60px);
  padding: 20px 30px 72px !important;
  background: white;
  -webkit-box-shadow: 0 0 4px #e1e1e1;
          box-shadow: 0 0 4px #e1e1e1;
  border-left: medium #348CB2 solid;
}

form .form-group {
  width: 100%;
  padding: 0 .1px;
  display: block;
}

form input,
form select,
form textarea,
form button {
  padding: 12px 16px;
  border: thin #EEEEEE solid;
  margin: 0;
  border-radius: 0;
  background: white;
}

form input:focus,
form select:focus,
form textarea:focus,
form button:focus {
  background: white;
}

form input,
form select,
form textarea {
  height: auto !important;
  width: calc(100% - 32px);
  margin: 0 0 6px;
}

form input[type="submit"],
form input[type="button"],
form button {
  width: auto;
  margin: 6px 0;
  cursor: pointer;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  float: left;
}

.center-top {
  -webkit-transform: translateX(-50%) translateY(-75%);
          transform: translateX(-50%) translateY(-75%);
}

.form {
  width: 90%;
  max-width: 560px;
}

.margin-top-10 {
  margin-top: 10px;
}

.right {
  float: right;
}

@media screen and (max-height: 800px) {
  .center-top {
    -webkit-transform: translateX(-50%) translateY(-45%);
            transform: translateX(-50%) translateY(-45%);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #2e7c9e;
  text-decoration: none;
}

a:hover {
  border-bottom: thin #2e7c9e solid;
}

#app {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#app > header {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 5%;
  background-color: #348CB2;
}

#app > main {
  width: 90%;
  padding: 54px 5%;
}

#app > main .todo_items_wrapper {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

#app > footer {
  width: 90%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 12px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EEEEEE;
}

#app > footer #footer_inner {
  width: 100%;
  max-width: 500px;
}

#app > footer #footer_inner__left {
  float: left;
}

#app > footer #footer_inner__right {
  float: right;
}

@media screen and (max-width: 500px) {
  #app > footer #footer_inner__left,
  #app > footer #footer_inner__right {
    width: 100%;
    float: left;
    text-align: center;
  }

  #app > footer #footer_inner__left {
    margin-bottom: 8px;
  }
}

