@import "_variables.scss";

.file {
    display:flex;
    align-items:stretch;
    flex-flow:row wrap;
    &__name {
        min-width:0;
        flex:5;
        margin:8px 0;
        padding:$todo_item_padding_top_bottom $todo_item_padding_left_right / 2;
        color:black;
        border:thin #aaa solid;
        border-right-width:0;
        word-wrap:break-word;
    }
    &__delete {
        min-width:0;
        flex:1;
        margin:8px 0;
        padding:$todo_item_padding_top_bottom $todo_item_padding_left_right / 2;
        background:$red_color;
        color:white;
        border:0;
        cursor:pointer;
    }
}
