@import "_variables.scss";

.popup_wrapper {
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    visibility:collapse;
    opacity:0;
    transition:opacity .3s, visibility .3s 0s;
    overflow-y:auto;
    z-index:999;

    .popup_background {
        height:100%;
        width:100%;
        position:fixed;
        top:0;
        left:0;
        background-color:rgba(44, 44, 44, .75);
    }

    &.active {
        visibility:visible;
        opacity:1;
        transition:opacity .3s;
    }

    .popup {
        min-height:50%;
        width:calc(90% - 72px);
        max-width:600px;
        position:relative;
        top:-16px;
        margin:auto;
        padding:12px 36px 24px;
        background:$light_color;
        box-shadow:0 0 4px #444;
        border-radius:4px;
        transition:.3s;
        overflow:hidden;

        &.active {
            top:32px;
        }

        &__close {
            margin-top:20px;
            float:right;
        }

        &__title {
            width:calc(100% - 30px);
            padding-right:30px;
            border-bottom:2px $app_color solid;
            word-wrap:break-word;
            input {
                width:100%;
                margin:12px 0;
                padding:8px 0;
                border:0;
                font-size:24px;
                font-weight:bold;
                color:black;
                background:transparent;
            }
        }

        &__content {
            max-height:calc(100% - 128px);
            margin-bottom:64px;
            overflow-y:auto;
        }

        &__description {
            margin:8px 0;
        }

        &__files {
            width:100%;
            margin:16px 0;

            .file {
                display:flex;
                align-items:stretch;
                &__name {
                    flex:5;
                    margin:8px 0;
                    padding:$todo_item_padding_top_bottom $todo_item_padding_left_right / 2;
                    color:black;
                    border:thin #aaa solid;
                    border-right-width:0;
                }
                &__delete {
                    flex:1;
                    margin:8px 0;
                    padding:$todo_item_padding_top_bottom $todo_item_padding_left_right / 2;
                    background:$red_color;
                    color:white;
                    border:0;
                    cursor:pointer;
                }
            }

            &__upload {
                margin-top:16px;
                margin-bottom:32px;
                width:100%;
                display:flex;
                align-content:stretch;
                &_input {
                    display:none;
                }
                &_area {
                    width:100%;
                    padding:$todo_item_padding_top_bottom $todo_item_padding_left_right / 2;
                    flex:5;
                    border:thin #aaa solid;
                    border-right-width:0;
                    cursor:pointer;
                }
                &_button {
                    width:100%;
                    padding:$todo_item_padding_top_bottom $todo_item_padding_left_right / 2;
                    flex:1;
                    background:#298E84;
                    border:0;
                    color:white;
                    cursor:pointer;
                }
            }
        }

        &__item_delete {
          position:absolute;
          bottom:24px;
          left:36px;
          padding:$todo_item_padding_top_bottom $todo_item_padding_left_right;
          background:$red_color;
          color:white;
          border:0;
        }
    }
}

@media screen and (max-width:450px) {
    .popup_wrapper {
        .popup {
            width:calc(90% - 48px);
            padding:12px 24px 24px;
        }
    }
}
