@import "_variables.scss";

.popup_wrapper {
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    visibility:collapse;
    opacity:0;
    transition:opacity .3s, visibility .3s 0s;

    .popup_background {
        height:100%;
        width:100%;
        position:fixed;
        top:0;
        left:0;
        background-color:rgba(44, 44, 44, .75);
    }

    &.active {
        visibility:visible;
        opacity:1;
        transition:opacity .3s;
    }

    .popup {
        height:calc(90% - 24px);
        width:calc(90% - 72px);
        max-height:500px;
        max-width:600px;
        position:relative;
        top:45%;
        margin:auto;
        padding:12px 36px 24px;
        transform:translateY(-50%);
        background:$light_color;
        box-shadow:0 0 4px #444;
        border-radius:4px;
        transition:.3s;

        &.active {
            top:50%;
        }

        &__close {
            margin-top:20px;
            float:right;
        }

        &__title {
          width:calc(100% - 30px);
          padding-right:30px;
          border-bottom:2px $app_color solid;
          word-wrap:break-word;
          input {
              width:100%;
              margin:12px 0;
              padding:8px 0;
              border:0;
              font-size:24px;
              font-weight:bold;
              color:black;
              background:transparent;
          }
        }

        &__description {
            margin:8px 0;
        }

        &__item_delete {
          position:absolute;
          bottom:24px;
          right:36px;
          padding:$todo_item_padding_top_bottom $todo_item_padding_left_right;
          background:$red_color;
          color:white;
          border:0;
        }
    }
}
